html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.App{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.sideBar{
  background-color: #F2F3F7;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perosonalImg{
  height: 200px;
  width: 200px;
  margin: 20px 0;
  border-radius: 50%;
  border: 3px solid darkseagreen;
}

.mainBody{
  height: 100vh;
  width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;
  background-color: darkseagreen;
  justify-content: center;
}
.LoadingPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg{
  height: 100%;
  width: 100%;
  position: absolute;
}
.imgFont{
  position: relative;
  margin-left: 40px;
  font-size: 40px;
  font-style: italic;
  text-shadow: black 0.1em 0.1em 0.6em
}
.Background{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
}

.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons .fas{
  margin-top: 20px;
  transition:all 0.2s ease ;
}

.icons .fas:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.lableGroup{
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  margin-left: 35px;
}

